* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-feature-settings: "zero", "ss01"; */
    font-variant-numeric: slashed-zero;
    color: #404040;
}

body {
    background: #F2F2F2;
    user-select: none;
}

input.invalid {
    color: #E73838;
}