.txs {
    width: 390px;
    /* min-width: 369px; */
    height: 476px;
    border-radius: 20px;
    background: #FFF;
    padding: 21px 25px;

    display: flex;
    flex-direction: column;
    gap: 21px;
}
.transaction {
    min-width: 315px;
    min-height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;

    user-select: none;
}
.transaction.selected {
    background-color: #DFDFDF;
}
.transaction__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    color: #999;
    font-size: 13px;
    flex-shrink: 0;
}
.transaction__id-label, .transaction__confs-label, .transaction__date-label {
    color: #999;
}
.transaction__id-value, .transaction__confs-value, .transaction__date-value {
    color: #ED9B60;
}
.transaction__right {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.transaction__amount {
    font-size: 14px;
    font-weight: 500;
}
.transaction__amount::after {
    content: " BTC";
}
.transaction__fee {
    font-weight: 400;
}
.transaction__fee-label {
    color: #999;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
.transaction__fee-value {
    font-size: 14px;
}
.transaction__fee-value::after {
    content: " Sats";
}