.contextmenu {
    position: absolute;
    top: 0;
    left: 0;

    width: 180px;
    background-color: black;
    border-radius: 3px;
    outline: none;
    padding: 8px 0px;

    user-select: none;
    font-size: 12px;
}
.contextmenu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.contextmenu__item {
    width: 100%;
    height: 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.contextmenu__item:hover {
    background-color: #ED9B60;
}
.contextmenu__item span {
    margin: 0 16px;
    color: white;
}
.contextmenu__divider {
    width: 100%;
    padding: 8px 0px;
}
.contextmenu__divider-line {
    height: 1px;
    background-color: #383838;
}