.contextmenu {
    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    background-color: black;
    border-radius: 3px;

    user-select: none;
    padding: 4px 0px;
}
.contextmenu ul {
    padding: 0;
    margin: 0;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    gap: 0px;
}
.contextmenu li {
    height: 24px;
    cursor: pointer;
    list-style: none;

    display: flex;
    align-items: center;
}
.contextmenu li:hover {
    background-color: #ED9B60;
}
.contextmenu li span {
    margin-left: 15px;
    color: white;
}