.contextmenu {
    position: absolute;
    top: 0;
    left: 0;

    width: 180px;
    background-color: black;
    border-radius: 3px;
    outline: none;

    user-select: none;
    padding: 8px 0px;
}
.contextmenu ul {
    padding: 0;
    margin: 0;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.contextmenu li {
    width: 100%;
    height: 24px;
    cursor: pointer;
    list-style: none;

    display: flex;
    align-items: center;
}
.contextmenu li:hover {
    background-color: #ED9B60;
}
.contextmenu li span {
    margin: 0 16px;
    color: white;
}
.contextmenu__divider {
    width: 100%;
    height: 1px;

    background-color: #383838;
    margin: 8px 0px;
}