.crt {
    min-width: 380px;
    width: 410px;
    height: 476px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

/* --- TOP --- */

.crt__top {
    flex-basis: 352px;
    display: flex;
    padding: 7px 8px;
}
.crt__top-left, .crt__top-right {
    width: 50%;
}
.crt__top-vline {
    width: 1px;
    margin: 5px 8px;
    background-color: #F2F2F2;
}
.crt__hline {
    height: 1px;
    background-color: #F2F2F2;
    margin: 0px 13px;
}
.crt__io-label {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.crt__top-left, .crt__top-right {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.crt__ios {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.crt__io {
    height: 58px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F2F2F2;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.crt__io::before {
    position: absolute;
    content: "";
    right: 10px;
    top: 10px;

    width: 7px;
    height: 7px;
    background-image: url("./icons/external-link.svg");
    background-size: contain;

    cursor: pointer;
}
.crt__io-amount {
    font-size: 14px;
    font-weight: 500;
}
.crt__input .crt__io-amount::before {
    content: "+";
}
.crt__io-amount::after {
    content: " BTC";
}
.crt__input .transaction__id {
    font-size: 12px;
}
.crt__output-address {
    font-size: 12px;
    font-weight: 400;
}
.crt__output-address-label {
    color: #999;
}
.crt__output-address-value {
    color: #ED9B60;
}
.crt__output .crt__io-amount::before {
    content: "-";
}

/* --- BOT ---  */

.crt__bot {
    flex-grow: 1;
    padding: 18px 25px;
}
.crt__bot-block {
    position: relative;

    background-color: #F2F2F2;
    height: 100%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 22px;
}
.crt__bot-block.segwit-lock::before, .crt__bot-block.segwit-unlock::before {
    position: absolute;
    content: "";
    right: 12px;
    bottom: 7px;

    background-size: contain;
}
.crt__bot-block.segwit-lock::before {
    width: 8px;
    height: 10px;
    background-image: url("./icons/segwit-lock.svg");
}
.crt__bot-block.segwit-unlock::before {
    width: 10px;
    height: 10px;
    background-image: url("./icons/segwit-unlock.svg");
}
.crt__bot-block input {
    border-radius: 20px;
    text-align: center;
    width: 60px;

    font-weight: 500;

    border: 0px;
    outline: none;
    appearance: none;
    -moz-appearance: textfield;
}
.crt__bot input::-webkit-outer-spin-button,
.crt__bot input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.crt__bot-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crt__bot-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.crt__bot-label {
    font-size: 9px;
    font-weight: 400;
}
#crt__remainder, #crt__total {
    width: 128px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
#crt__create-btn {
    width: 59px;
    height: 22px;
    background-color: #ED9B60;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
#crt__create-btn:hover {
    background-color: #E5965D;
}
#crt__create-btn span {
    font-size: 10px;
    text-align: center;
    color: #FFF;
}