.add {
    min-width: 290px;
    width: 390px;
    min-height: 400px;
    height: 476px;
    border-radius: 20px;
    background: #FFF;

    display: flex;
    flex-direction: column;
}

.address {
    min-height: 59px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
.address:first-child {
    border-radius: 20px 20px 0px 0px;
}
.address:hover {
    cursor: pointer;
    background-color: #E7E7E7;
}
.address:hover > .address__right {
    border-bottom: 1px solid #E7E7E7;
}
.address__left {
    min-width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address__right {
    border-bottom: 1px solid #DFDFDF;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.address__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.address__arrow {
    margin-right: 26px;
}